<!-- views/footer.ejs -->
<footer>
    <div class="container" id="container-footer">
      <div class="footer-content">
        <h3>contactez-nous</h3>
        <p>Email: sylvestrebenie7829@gmail.com</p>
        <p>Téléphone: +225 01 523 431 11</p>
        <p>Adresse: 47, Angré Terminus 81, Abidjan, Côte d'Ivoire</p>
      </div>
      <div class="footer-content">
        <h3>Lien utile</h3>
        <ul class="list">
          <li><a href="/">Accueil</a></li>
          <li><a href="/Services">Nos services</a></li>
          <li><a href="/Contact">Contact</a></li>
        </ul>
      </div>
      <div class="footer-content">
        <h3>Suivez-nous</h3>
        <ul class="social-icons">
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="bottom-bar">
      <p>&copy; Anidasssor 2025 - Tous droits réservés</p>
    </div>
</footer>