<!-- views/home.ejs -->
<%- include('layout', { body: `
    <h1>Bienvenue sur Mon Entreprise</h1>
    <p>Nous sommes spécialisés dans la transformation digitale et l'innovation technologique.</p>
` }) %>
