<!-- views/home.ejs -->
<%- include('layout', { body: `
    <div class="row">
      <div class="col-2">
        <h1>Donnez à votre entrainement un nouveau style !</h1>
        <p>Le succès n'est pas toujours une question de grandeur.</p>
        <a href="/Services" class="btn">Voir nos services</a>
      </div>
      <div class="col-2">
        <img src="../image/image1.png" alt="Landing images">
      </div>
    </div>
    
` }) %>
