<!-- views/home.ejs -->
<%- include('layout', { body: `
  <section class="header-section">
    <div class="container">
      <div class="row">
        <div class="col-2">
          <h1>Donnez à votre <br> entrainement <br> un nouveau style !</h1>
          <p>
            Le succès n'est pas toujours une question de grandeur. <br>
            c'est une question de cohérence, un travail acharné et <br> consistant qui gagne  du succès.
            La grandeur viendra.
          </p>
          <a href="/Services" class="btn">Voir nos services &#8594</a>
        </div>
        <div class="col-2">
          <img src="../image/image1.png" alt="Landing images">
        </div>
      </div>
    </div>
  </section> 
    
` }) %>
