<!-- views/services.ejs -->
<%- include('layout', { body: `
    <!-- sections des categories -->
     <section class="categorie">
        <div class="container">
            <h2>Categories veddetes</h2>
            <div class="row">
                <div class="col-3">
                    <img src="../image/category-1.jpg" alt="category-1">
                </div>
                <div class="col-3">
                    <img src="../image/category-2.jpg" alt="category-2">
                </div>
                <div class="col-3">
                    <img src="../image/category-3.jpg" alt="category-3">
                </div>
            </div>
        </div>
     </section>

     <!-- Sections des meilleurs produits -->
      <section class="featured-products">
        <div class="container">
            <h2>Les meilleurs produits</h2>
            <div class="row">
                <div class="col-4">
                    <img src="../image/product-1.jpg" alt="product-1">
                    <h3>T-shirt Rouge</h3>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <p>5000 fcfa</p>
                </div>
                <div class="col-4">
                    <img src="../image/product-2.jpg" alt="product-2">
                    <h3>HRX</h3>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p>8000 fcfa</p>
                </div>
                <div class="col-4">
                    <img src="../image/product-3.jpg" alt="product-3">
                    <h3>Pantalon Sport Noir</h3>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p>4500 fcfa</p>
                </div>
                <div class="col-4">
                    <img src="../image/product-4.jpg" alt="product-4">
                    <h3>T-shirt Noir</h3>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <p>5000 fcfa</p>
                </div>
            </div>
        </div>
      </section>

      <!-- Nos derniers produits -->
      <section class="featured-products">
        <div class="container">
            <h2>Nos derniers produits</h2>
            <div class="row">
                <div class="col-4">
                    <img src="../image/product-5.jpg" alt="product-5">
                    <h3>paire grise</h3>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <p>5000 fcfa</p>
                </div>
                <div class="col-4">
                    <img src="../image/product-6.jpg" alt="product-6">
                    <h3>T-short Noir</h3>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p>8000 fcfa</p>
                </div>
                <div class="col-4">
                    <img src="../image/product-7.jpg" alt="product-7">
                    <h3>Chaussette HRX</h3>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p>2500 fcfa</p>
                </div>
                <div class="col-4">
                    <img src="../image/product-8.jpg" alt="product-8">
                    <h3>Montre Noir</h3>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <p>9000 fcfa</p>
                </div>
            </div>
            
        </div>
      </section>
` }) %>
r