<!-- views/services.ejs -->
<%- include('layout', { body: `
    <h1>Nos Services</h1>
    <ul>
        <li>Consulting en stratégie digitale</li>
        <li>Développement Web & Mobile</li>
        <li>Marketing Digital et SEO</li>
    </ul>
` }) %>
